name: Run Maestro Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  maestro-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Set up Android SDK
      uses: android-actions/setup-android@v2
      with:
        api-level: 31
        target: default
        channel: stable

    - name: Start Android Emulator
      run: |
        sudo apt-get update
        sudo apt-get install -y pulseaudio
        adb start-server
        $ANDROID_HOME/emulator/emulator-headless -no-snapshot -noaudio -no-window -avd test &

    - name: Wait for Emulator to start
      run: adb wait-for-device

    - name: Download and install Maestro
      run: |
        curl -Ls "https://get.maestro.mobile.dev" | bash
        echo 'export PATH="$PATH:$HOME/.maestro/bin"' >> $GITHUB_ENV
        echo "$HOME/.maestro/bin" >> $GITHUB_PATH

    - name: Run Maestro Tests
      run: maestro test .maestro

    - name: Stop Emulator
      if: always()
      run: adb emu kill
