name: Run Maestro Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  maestro-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Set up Android SDK
      uses: android-actions/setup-android@v2
      with:
        api-level: 29
        target: google_apis
        channel: stable

    - name: Start Android Emulator
      run: |
        adb start-server
        $ANDROID_HOME/emulator/emulator-headless -avd test -no-window -noaudio -no-boot-anim -gpu swiftshader_indirect &

    - name: Wait for Emulator to Start
      run: |
        boot_completed="adb shell getprop sys.boot_completed"
        timeout=600
        while [ "$($boot_completed | tr -d '\r')" != "1" ] && [ $timeout -gt 0 ]; do
          sleep 10
          timeout=$((timeout-10))
        done
        if [ $timeout -le 0 ]; then
          echo "Emulator boot timed out."
          exit 1
        else
          echo "Emulator booted successfully."
        fi

    - name: Download and install Maestro
      run: |
        curl -Ls "https://get.maestro.mobile.dev" | bash
        echo 'export PATH="$PATH:$HOME/.maestro/bin"' >> $GITHUB_ENV
        echo "$HOME/.maestro/bin" >> $GITHUB_PATH

    - name: Run Maestro Tests
      run: maestro test .maestro

    - name: Stop Emulator
      if: always()
      run: adb emu kill
