name: Run Maestro Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  maestro-test:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker container with Android emulator
      run: |
        docker run --detach --name android-emulator --device /dev/kvm \
          -e DEVICE="Pixel_3" \
          -e ANDROID_VERSION=33 \
          -e EMULATOR_PARAMS="-no-window -no-boot-anim" \
          budtmo/docker-android-x86-11.0

    - name: Wait for Android Emulator to be ready
      run: |
        docker exec android-emulator adb wait-for-device
        docker exec android-emulator adb shell 'while [[ -z $(getprop sys.boot_completed) ]]; do sleep 1; done'

    - name: Download and install Maestro
      run: |
        curl -Ls "https://get.maestro.mobile.dev" | bash
        echo 'export PATH="$PATH:$HOME/.maestro/bin"' >> $GITHUB_ENV
        echo "$HOME/.maestro/bin" >> $GITHUB_PATH

    - name: Run Maestro Tests
      run: |
        docker exec -t android-emulator maestro test .maestro

    - name: Stop Docker container
      if: always()
      run: |
        docker stop android-emulator
        docker rm android-emulator
