name: RunMaestroTestsonPushBranches

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  maestro-test:
    runs-on: ubuntu-latest  # Consider using ubuntu-latest for faster CI
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v3

      - name: Setup JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Setup Android SDK
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 33
          target: google_apis_playstore
          arch: x86_64
          force-avd-creation: true
          emulator-options: '-no-window -no-boot-anim -noaudio -gpu swiftshader_indirect'

      - name: Wait for Emulator to Boot
        run: |
          adb wait-for-device
          boot_completed=false
          until [[ "$boot_completed" == "1" ]]; do
            sleep 5
            boot_completed=$(adb shell getprop sys.boot_completed | tr -d '\r')
          done

      - name: Download and Install Maestro Run
        run: |
          curl -Ls "https://get.maestro.mobile.dev" | bash
          echo 'export PATH="$PATH:$HOME/.maestro/bin"' >> $GITHUB_ENV
          echo "$HOME/.maestro/bin" >> $GITHUB_PATH

      - name: Run Maestro Tests
        run: maestrotest.maestro-name

      - name: Stop Emulator (Always)
        if: always()  # Ensure emulator is stopped regardless of job success/failure
        run: adb emukill
