name: Run Maestro Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  maestro-test:
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Set up Android SDK and start emulator
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 33
        target: default
        arch: x86_64
        force-avd-creation: true
        emulator-options: '-no-window -no-boot-anim -noaudio -gpu swiftshader_indirect -no-snapshot-load'

    - name: Wait for emulator to be ready
      run: |
        max_attempts=30
        attempt=0
        boot_completed=false
        while [ $attempt -lt $max_attempts ]; do
          attempt=$((attempt + 1))
          echo "Attempt $attempt: Checking if emulator is ready..."
          if adb devices | grep -q emulator-5554; then
            status=$(adb -s emulator-5554 shell getprop sys.boot_completed | tr -d '\r')
            if [ "$status" == "1" ]; then
              echo "Emulator is ready."
              boot_completed=true
              break
            else
              echo "Emulator is booting... waiting."
            fi
          else
            echo "No emulator found, retrying..."
          fi
          sleep 10
        done

        if [ "$boot_completed" = false ]; then
          echo "Emulator did not start correctly within the expected time."
          adb devices
          exit 1
        fi

    - name: Check connected devices
      run: adb devices

    - name: Build APK
      run: ./gradlew assembleDebug  # Replace with your build command

    - name: Locate APK
      id: locate_apk
      run: |
        APK_PATH=$(find app/build/outputs/apk/debug -name "*.apk")
        echo "APK_PATH=$APK_PATH" >> $GITHUB_ENV

    - name: Install APK
      run: |
        echo "Attempting to install APK at $APK_PATH"
        adb devices
        adb install $APK_PATH || { echo "APK installation failed."; adb devices; exit 1; }

    - name: Download and install Maestro
      run: |
        curl -Ls "https://get.maestro.mobile.dev" | bash
        echo 'export PATH="$PATH:$HOME/.maestro/bin"' >> $GITHUB_ENV
        echo "$HOME/.maestro/bin" >> $GITHUB_PATH

    - name: Run Maestro Tests
      run: maestro test .maestro
