name: Run Maestro Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  maestro-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Download and install Maestro
      run: |
        curl -Ls "https://get.maestro.mobile.dev" | bash
        echo 'export PATH="$PATH:$HOME/.maestro/bin"' >> $GITHUB_ENV
        echo "$HOME/.maestro/bin" >> $GITHUB_PATH  # Add this line to ensure the path is updated

    - name: Run Maestro Tests
      run: maestro test .maestro
