name: Run Maestro Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  maestro-test:
    timeout-minutes: 30  # Increased timeout to ensure enough time for the emulator to start
    runs-on: ubuntu-latest  # Using ubuntu-latest as it's faster for CI

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Set up Android SDK and start emulator
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 33
        target: default  # Change to 'default' if google_apis_playstore is too slow
        arch: x86_64
        force-avd-creation: true
        emulator-options: '-no-window -no-boot-anim -noaudio -gpu swiftshader_indirect -no-snapshot-load'
        script: echo "Emulator configured and running"
      env:
        ADB_INSTALL_TIMEOUT: 20

    - name: Wait for emulator to be ready
      run: |
        max_attempts=10
        attempt=0
        boot_completed=false
        until [[ "$boot_completed" == "1" ]]; do
          attempt=$((attempt + 1))
          if [ $attempt -ge $max_attempts ]; then
            echo "Emulator failed to start after $max_attempts attempts."
            exit 1
          fi
          sleep 10
          boot_completed=$(adb shell getprop sys.boot_completed | tr -d '\r')
          adb devices | grep emulator
        done

    - name: Download and install Maestro
      run: |
        curl -Ls "https://get.maestro.mobile.dev" | bash
        echo 'export PATH="$PATH:$HOME/.maestro/bin"' >> $GITHUB_ENV
        echo "$HOME/.maestro/bin" >> $GITHUB_PATH

    - name: Run Maestro Tests
      run: maestro test .maestro

    - name: Stop Emulator
      if: always()
      run: adb emu kill
