name: Run Maestro Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  maestro-test:
    timeout-minutes: 20
    runs-on: ubuntu-latest  # Consider using ubuntu-latest as it is typically faster for CI

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Set up Android SDK
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 33
        target: google_apis_playstore
        arch: x86_64
        force-avd-creation: true
        emulator-options: '-no-window -no-boot-anim -noaudio -gpu swiftshader_indirect'
        script: |
          # Wait for the emulator to fully boot
          adb wait-for-device
          boot_completed=false
          until [[ "$boot_completed" == "1" ]]; do
            sleep 5
            boot_completed=$(adb shell getprop sys.boot_completed | tr -d '\r')
          done

    - name: Download and install Maestro
      run: |
        curl -Ls "https://get.maestro.mobile.dev" | bash
        echo 'export PATH="$PATH:$HOME/.maestro/bin"' >> $GITHUB_ENV
        echo "$HOME/.maestro/bin" >> $GITHUB_PATH

    - name: Run Maestro Tests
      run: maestro test .maestro

    - name: Stop Emulator
      if: always()
      run: adb emu kill
