# name: Build and upload to Maestro Cloud (Native Android)

# on:
#   push:
#     branches: [ master ]
#   pull_request:
#     branches: [ master ]

# jobs:
#   maestro-cloud:
#     runs-on: ubuntu-latest
#     outputs:
#       app: app/build/outputs/apk/debug
#     steps:
#       - uses: actions/checkout@v3
#       - uses: actions/setup-java@v3
#         with:
#           java-version: 11
#           distribution: 'temurin'
#       - run: ./gradlew assembleDebug
#       - uses: mobile-dev-inc/action-maestro-cloud@v1
#         with:
#           api-key: a4cfcbc0-195c-4fec-b156-94d9c6ab21b9
#           app-file: app/build/outputs/apk/debug/app-debug.apk
